@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>


@{ 
    var result = await authorizationService.AuthorizeAsync(User, null, "CanDelete");

}
@if(result.Succeeded) {
    <button>Delete</button>
}
@if(User.IsInRole("Admin")){
    <p>User Is Admin</p>
}